<!--GEMS_Server-->
<!--GEMS_Props
TemplateType:Simple;
InitWidth:200px;
InitHeight:200px;
InitX:45px;
InitY:50px;
Resizeable:true;
Moveable:true;
-->
<html>
<head>
<link rel="stylesheet" type="text/css" href="js/lightbox/lightbox.css" />
<script type="text/javascript" src="js/lightbox/lightbox.js" readyif="window.initLightbox != null" init="initLightbox();" onupdate="initLightbox();"></script>
</head>

<body>

<div style="width:${width}; height:${height}">
  <img src="img/block.png" 
       style="width:${width}; height:${height}" 
       height="${height}" 
       width="${width}">
</div>
<div style="position:absolute; top:0; left:0; margin:10 10 10 10;">
<p style="align:center" >
Model Object
<a href="img/block.jpg" rel="lightbox" title="my caption"><img src="img/b.gif" /></a> 

<p>
</div>
</body>
</html>
		